<!--RD Navbar-->
<header class="section rd-navbar-wrap"
        [ngClass]="isNavbarTransparent ? 'rd-navbar-wrap-absolute' : 'rd-navbar-wrap-transparent'">
  <nav class="rd-navbar rd-navbar-solid rd-navbar-transparent"
       data-rd-navbar='{"responsive":{"1200":{"stickUpOffset":"164px"}}}'>
    <div class="navbar-section navbar-non-stuck">
      <div class="navbar-panel">
        <button #menuToggleButton class="navbar-switch fas fa-bars novi-icon"
                data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","isolate":"[data-multi-switch]"}'></button>
        <div class="navbar-logo">
          <a class="navbar-logo-link" [routerLink]="routes.HOME.toString()">
            <img alt="Airy" class="navbar-logo-default" height="42" src="/assets/images/logo.png" width="290"/>
          </a>
        </div>
      </div>
      <div class="navbar-container navbar-top-section">
        <div class="navbar-cell flex-grow-1">
          <div class="navbar-info">
            <div class="list list-icons-2">
              <div class="list-item">
                <div class="list-icon icon navbar-info-icon onclinic-map-marker novi-icon"></div>
                <span class="link link-inherit small-1 " appTranslate="address.value"></span>
              </div>
            </div>
            <div class="navbar-logo navbar-fullwidth-logo">
              <a class="navbar-logo-link" [routerLink]="routes.HOME.toString()">
                <img alt="Airy" class="navbar-logo-default" height="42" src="/assets/images/logo.png" width="290"/>
              </a>
            </div>
            <div *ngIf="contactInfo?.phoneNumber"
                 class="text-block text-block-2 d-md-flex align-items-center justify-content-center">
              <p class="small-1" [appTranslate]="'call.now'"></p>
              <div class="list list-icons-2">
                <div class="list-item">
                  <div class="list-icon icon onclinic-phone"></div>
                  <span class="h5">
                    <a class="link" href="tel:{{contactInfo?.phoneNumber}}">
                    {{contactInfo?.phoneNumber}}
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar-cell">
          <div class="navbar-subpanel">
            <div class="navbar-subpanel-item">
              <button class="navbar-button navbar-info-button fas fa-ellipsis-v novi-icon"
                      data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","class":"navbar-info-active","isolate":"[data-multi-switch]"}'></button>
            </div>
            <div class="navbar-subpanel-item">
              <div class="navbar-search">
                <div class="navbar-search-container">
                  <form class="navbar-search-form">
                    <input [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" (change)="search()" autocomplete="off" class="navbar-search-input"
                           placeholder="{{ 'enter.keyword' | appTranslate }}" type="text"/>
                    <button (click)="search()" class="navbar-search-btn onclinic-search novi-icon"></button>
                    <button class="navbar-search-close fas fa-times search-switch novi-icon"
                            data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","class":"navbar-search-active","isolate":"[data-multi-switch]:not(.search-switch)"}'
                            type="button">
                    </button>
                  </form>
                </div>
              </div>
              <div class="navbar-search-results" appTranslate="no.results"></div>
              <button class="navbar-button search-switch onclinic-search novi-icon"
                      data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","class":"navbar-search-active","isolate":"[data-multi-switch]:not(.search-switch)"}'></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-section">
      <div class="navbar-container navbar-bottom-section navbar-sidebar">
        <div class="navbar-cell flex-grow-1">
          <ul class="navbar-navigation rd-navbar-nav">
            <li class="navbar-navigation-root-item "
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
              <a class="navbar-navigation-root-link"
                 [routerLink]="routes.HOME.toString()"
                 appTranslate="home"
                 (click)="hideMenu()"></a>
            </li>
            <li class="navbar-navigation-root-item" routerLinkActive="active">
              <a class="navbar-navigation-root-link"
                 [routerLink]="routes.ABOUT_US.toString()"
                 appTranslate="about.us"
                 (click)="hideMenu()"></a>
            </li>
            <li class="navbar-navigation-root-item" routerLinkActive="active">
              <a class="navbar-navigation-root-link"
                 [routerLink]="routes.PRODUCTS.toString()"
                 appTranslate="products"
                 (click)="hideMenu()"></a>
              <span class="rd-navbar-submenu-toggle fas fa-chevron-down"></span>
              <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
                <li class="navbar-navigation-back">
                  <button class="navbar-navigation-back-btn">
                    <i class="fas fa-chevron-left"></i> {{'back' | appTranslate}}
                  </button>
                </li>
                <li *ngFor="let category of categories" class="navbar-navigation-dropdown-item">
                  <a class="navbar-navigation-dropdown-link"
                     (click)="hideMenu()"
                     [routerLink]="routeUtils.setPathParams(routes.PRODUCTS_CATEGORY.toString(), [category.id])">
                    {{translator.getCategoryName(category)}}
                  </a>
                </li>
              </ul>
            </li>
            <li class="navbar-navigation-root-item" routerLinkActive="active">
              <a class="navbar-navigation-root-link" [routerLink]="routes.CONTACTS.toString()"
                 appTranslate="contacts"
                 (click)="hideMenu()"></a>
            </li>
          </ul>
        </div>
        <div class="navbar-cell">
          <ul class="navbar-navigation rd-navbar-nav">
            <li class="navbar-navigation-root-item navbar-lang">
              <a class="navbar-navigation-root-link title">
                {{ 'language' | appTranslate }} <i class="fa fa-language ml-2" aria-hidden="true"></i>
              </a>
              <span class="rd-navbar-submenu-toggle fas fa-chevron-down"></span>
              <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
                <li class="navbar-navigation-back">
                  <button class="navbar-navigation-back-btn">
                    <i class="fas fa-chevron-left"></i> {{'back' | appTranslate}}
                  </button>
                </li>

                <li *ngFor="let lang of languages" class="navbar-navigation-dropdown-item lang-item">
                  <span class="navbar-navigation-dropdown-link"
                        [appTranslate]="lang"
                        [ngClass]="lang === translator.getCurrentLang() ? 'active' : ''"
                        (click)="updateLanguage(lang)">
                  </span>
                </li>
              </ul>
            </li>
            <li class="navbar-navigation-root-item" routerLinkActive="active">
              <a class="navbar-navigation-root-link"
                 [routerLink]="routes.LOGIN.toString()"
                 (click)="hideMenu()">
                <span appTranslate="login"></span>
              </a>
            </li>
          </ul>
        </div>
        <!--        <div class="navbar-cell navbar-action-link">-->
        <!--          <a class="link"><span class="link-icon"></span><span>Login</span></a>-->
        <!--        </div>-->
      </div>
    </div>
    <div class="navbar-section-divided">
      <div class="navbar-container">
        <!-- content here appears on the same level as nav dividers-->
      </div>
    </div>
  </nav>
</header>

