<section class="section section-md bg-primary-lightest section-offset-3">
  <div class="container">
    <div class="title-1" appTranslate="admin.panel"></div>
    <div class="row">
      <div class="col-md-8">
        <router-outlet>Select an option from the right</router-outlet>
      </div>
      <div class="col-md-4 sidebar-section rounded sidebar-background">
        <section class="sidebar-item">
          <h4 appTranslate="products"></h4>
          <ul>
            <li routerLinkActive="link-active">
              <a href="/admin/receipt/create" appTranslate="add.new"></a>
            </li>
            <li routerLinkActive="link-active">
              <a href="/admin/recipes/browse" appTranslate="show.all"></a>
            </li>
          </ul>
        </section>
        <hr>
        <section class="sidebar-item">
          <h4 appTranslate="categories"></h4>
          <ul>
            <li routerLinkActive="link-active">
              <a href="/admin/receipt/create" appTranslate="add.new"></a>
            </li>
            <li routerLinkActive="link-active">
              <a href="/admin/recipes/browse" appTranslate="show.all"></a>
            </li>
          </ul>
        </section>
        <hr>
        <section class="sidebar-item">
          <h4 appTranslate="home.carousel"></h4>
          <ul>
            <li routerLinkActive="link-active">
              <a href="/admin/receipt/create" appTranslate="add.new"></a>
            </li>
            <li routerLinkActive="link-active">
              <a href="/admin/recipes/browse" appTranslate="show.all"></a>
            </li>
          </ul>
        </section>
        <hr>
        <section class="sidebar-item">
          <h4 appTranslate="contacts"></h4>
          <ul>
            <li routerLinkActive="link-active">
              <a href="/admin/receipt/create" appTranslate="edit"></a>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</section>
