<section class="section section-md bg-transparent">
  <div class="container">
    <div class="row row-30">
      <div class="col-md-6 gallery-container">
        <app-gallery [images]="images"></app-gallery>
      </div>
      <div class="col-md-6">
        <div class="product product-overview">
          <div *ngFor="let tag of product?.tags" class="tag tag-sm">{{tag}}</div>
          <h3 class="product-title" [textContent]="product?.name"></h3>
          <div *ngIf="product?.price" class="product-price h4">{{product?.price}} {{'currency' | appTranslate}}</div>
          <div class="product-text">
            <div><strong appTranslate="description"></strong>:</div>
            <span style="white-space: pre-wrap;" [textContent]="translator.getProductDescription(product)"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <hr>
</div>
<app-contacts-section topic="{{'question.about.what' | appTranslate:topicParam}}&#13;&#10;"></app-contacts-section>
