<div class="product product-light">
  <div class="product-media">
    <img class="product-img" [src]="makeLink(category.imageUrl)" alt=""/>
    <div class="product-tags">
      <div *ngFor="let tag of category.tags" class="tag tag-sm tag-primary-lighter">{{ tag }}</div>
    </div>
  </div>
  <div class="product-body">
    <div class="product-title">
      <a class="link link-inherit" [routerLink]="route">{{ translator.getCategoryName(category) }}</a>
    </div>
    <a class="btn btn-outline-primary" [routerLink]="route" appTranslate="read.more"></a>
  </div>
</div>
