<div class="box box-form-1">
  <div class="box-header">
    <h3 class="box-title">{{'product'|appTranslate}} : {{'add.new'|appTranslate}}</h3>
  </div>
  <div class="box-body">
    <app-field-error [errors]="errors" fieldName=""></app-field-error>
    <div class="form-group">
      <label class="form-label" for="image">{{'image' | appTranslate}}</label>
      <div class="row">
        <div class="form-control-wrap col">
          <input class="form-control" type="file" id="image" (change)="handleProductImageUpload($event)">
          <app-field-error [errors]="errors" fieldName="image"></app-field-error>
          <app-field-error [errors]="errors" fieldName="base64"></app-field-error>
          <app-field-error [errors]="errors" fieldName="contentType"></app-field-error>
          <app-field-error [errors]="errors" fieldName="fileName"></app-field-error>
        </div>
        <div class="col">
          <img *ngIf="imageBase64File?.base64" [src]="imageBase64File.base64" alt="Select Image">
        </div>
      </div>
    </div>
    <form #ngForm [formGroup]="form" class="rd-form">
      <div class="form-group">
        <label class="form-label" for="productName">{{'name' | appTranslate}}</label>
        <div class="form-control-wrap">
          <input class="form-control" id="productName"
                 type="text"
                 formControlName="productName"
                 placeholder="{{'required.field' | appTranslate}}">
          <app-field-error [errors]="errors" fieldName="productName"></app-field-error>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="category">{{'category' | appTranslate}}</label>
        <div class="form-control-wrap">
          <select id="category" (change)="categorySelected()" class="form-control" formControlName="categoryId">
            <option selected disabled value="">--- {{'required.field' | appTranslate}} ---</option>
            <option *ngFor="let cat of categories" [value]="cat.id">{{getCategoryName(cat)}}</option>
          </select>
          <app-field-error [errors]="errors" fieldName="category"></app-field-error>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="descriptionEn">{{'description' | appTranslate}}: {{'en'|appTranslate}}</label>
        <div class="form-control-wrap">
          <textarea class="form-control" id="descriptionEn" rows="5"
                    formControlName="descriptionEn"
                    placeholder="{{'description' | appTranslate}}"></textarea>
          <app-field-error [errors]="errors" fieldName="descriptionEn"></app-field-error>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="descriptionBg">{{'description' | appTranslate}}: {{'bg'|appTranslate}}</label>
        <div class="form-control-wrap">
          <textarea class="form-control" id="descriptionBg"
                    rows="5"
                    formControlName="descriptionBg"
                    placeholder="{{'description' | appTranslate}}"></textarea>
          <app-field-error [errors]="errors" fieldName="descriptionBg"></app-field-error>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="price">{{'price' | appTranslate}}</label>
        <div class="form-control-wrap">
          <input class="form-control" id="price"
                 type="number"
                 formControlName="price"
                 placeholder="{{'price' | appTranslate}}">
          <app-field-error [errors]="errors" fieldName="price"></app-field-error>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="enabled">{{'visible' | appTranslate}}</label>
        <div class="form-control-wrap">
          <div class="custom-control custom-checkbox">
            <input id="enabled" type="checkbox" formControlName="enabled">
          </div>
          <app-field-error [errors]="errors" fieldName="enabled"></app-field-error>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="productId">{{'tags' | appTranslate}}</label>
        <div class="form-control-wrap">
          <input
            (change)="addTag($event)"
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="tagInput"
            list="prodList"
            id="productId"
            class="form-control"
            placeholder="-- {{'skip'|appTranslate}} --">
          <datalist id="prodList">
            <option *ngFor="let tag of tagsPage.elements" [value]="tag"></option>
          </datalist>
          <div>
            <span class="m-1" *ngFor="let tag of selectedTags">
              {{tag}} <i (click)="removeTag(tag)" class="fa fa-times" aria-hidden="true"></i>
            </span>
          </div>
          <app-field-error [errors]="errors" fieldName="tagNames"></app-field-error>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="gallery">{{'gallery' | appTranslate}}</label>
        <div class="form-control-wrap">
          <input class="form-control" type="file" id="gallery" (change)="handleGalleryImageUpload($event)">
          <app-field-error [errors]="errors" fieldName="image"></app-field-error>
          <app-field-error [errors]="errors" fieldName="base64"></app-field-error>
          <app-field-error [errors]="errors" fieldName="contentType"></app-field-error>
          <app-field-error [errors]="errors" fieldName="fileName"></app-field-error>
        </div>
        <div class="row">
          <div class="col" *ngFor="let img of gallery; let i = index" style="max-width: 150px; max-height: 150px">
            <img [src]="img.base64">
            <i (click)="removeImageFromGallery(i)" class="fa fa-times" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="form-group">
        <span class="form-label">{{'specifications' | appTranslate}}</span>
        <div>
          <div class="d-inline m-1">
            <label>{{'type' | appTranslate}}
              <select
                #specTypeSelect
                class="form-control"
                (change)="specificationTypeSelected($event)">
                <option disabled selected>-- {{'skip' | appTranslate}} --</option>
                <option
                  *ngFor="let specType of specificationTypes.elements"
                  [value]="specType.id">{{getSpecificationName(specType)}}</option>
              </select>
            </label>
          </div>
          <div class="d-inline m-1">
            <label>{{'value' | appTranslate}}
              <select #specValueSelect class="form-control">
                <option disabled selected>-- {{'skip' | appTranslate}} --</option>
                <option *ngFor="let spec of specificationValues"
                        [value]="spec.id">{{getSpecificationValue(spec)}}</option>
              </select>
            </label>
          </div>
        </div>
        <hr class="mt-2 mb-2">
        <div>
          <div class="d-inline m-1">
            <label>{{'new.value' | appTranslate}} {{'bg' | appTranslate }}
              <input #specNewValueBg class="form-control" type="text">
            </label>
          </div>
          <div class="d-inline m-1">
            <label>{{'new.value' | appTranslate}} {{'en' | appTranslate}}
              <input #specNewValueEn class="form-control" type="text">
            </label>
          </div>
        </div>

        <app-field-error [errors]="errors" fieldName="productSpecifications"></app-field-error>
        <app-field-error [errors]="errors" fieldName="existingProductSpecifications"></app-field-error>
        <app-field-error [errors]="errors" fieldName="specificationTypeId"></app-field-error>
        <app-field-error [errors]="errors" fieldName="valueBg"></app-field-error>
        <app-field-error [errors]="errors" fieldName="valueEn"></app-field-error>

        <button
          (click)="addNewSpecification()"
          class="btn btn-sm btn-primary"
          type="button">{{'add.new' | appTranslate}}</button>

        <div>
          <p *ngFor="let spec of selectedExistingSpecifications">
            {{getSpecificationNameFromProductSpec(spec)}}
            -
            {{getSpecificationValue(spec)}}
            -
            <i (click)="removeExistingSpecification(spec)" class="fa fa-times" aria-hidden="true"></i>
          </p>
        </div>

        <div>
          <p *ngFor="let spec of selectedSpecifications; let i = index">
            {{getSpecificationNameFromProductSpec(spec)}}
            -
            {{getSpecificationValue(spec)}}
            -
            <i (click)="removeSpecification(i)" class="fa fa-times" aria-hidden="true"></i>
          </p>
        </div>
      </div>

      <div class="rd-form-btn text-left">
        <button [disabled]="!form.valid" class="btn btn-lg btn-primary" type="button" (click)="onFormSubmit()">
          {{'save' | appTranslate}}
        </button>
      </div>
    </form>
  </div>
</div>
