// Base
.footer-minimal {
	padding: 20px 0;
	font-size: $font-size-sm;
}

.footer-light-1 + .footer-minimal.bg-200 {
	border-top: 1px solid $border-color;
}

.footer-minimal.context-dark {
	a {
		color: $primary-light;

		&:hover {
			color: $white;
		}
	}
}

.footer-lang {
  margin-top: 15px;
  user-select: none;

  .title {
    cursor: pointer;

    i {
      font-size: 1.5em;
      margin: 0;
    }

    &:hover {
      color: $primary-light;
    }
  }

  .languages {
    .lang-item {
      cursor: pointer;
    }

    .active {
      color: $primary-light;
    }
  }
}

@include media-breakpoint-up( xxl ) {
	.footer-minimal {
		padding: 23px 0;
	}
}
