<section class="footer footer-dark context-dark bg-800">
  <div class="container">
    <div class="row row-30">
      <div class="col-sm-9 col-lg-4">
        <!-- Logo-->
        <div class="logo">
          <a class="logo-link" [routerLink]="routes.HOME.toString()">
            <img class="logo-image-default" src="/assets/images/logo.png" alt="Airy" width="290" height="42"/>
          </a>
          <p appTranslate="about.us.value"></p>
          <div class="footer-lang">
            <div>
              <span (click)="showLanguagesDropdown()" class="title">
                {{ 'language' | appTranslate }} <i class="fa fa-language ml-2" aria-hidden="true"></i>
              </span>
            </div>

            <div *ngIf="showLanguages" class="languages">
              <div *ngFor="let lang of languages">
                  <span [appTranslate]="lang"
                        [ngClass]="lang === translator.getCurrentLang() ? 'active' : ''"
                        (click)="updateLanguage(lang)"
                        class="lang-item">
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="social group-20">
          <a class="social-icon icon icon-md icon-link onclinic-facebook" href="#"></a>
          <a class="social-icon icon icon-md icon-link onclinic-twitter" href="#"></a>
          <a class="social-icon icon icon-md icon-link onclinic-instagram" href="#"></a>
        </div>
      </div>
      <div class="col-sm-9 col-lg-4">
        <h5 class="footer-title" appTranslate="products"></h5>
        <ul class="list list-sm">
          <li *ngFor="let category of categories" class="list-item">
            <a [routerLink]="routeUtils.setPathParams(routes.PRODUCTS_CATEGORY.toString(), [category.id])">
              {{translator.getCategoryName(category)}}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-9 col-lg-4">
        <h5 class="footer-title" appTranslate="contacts"></h5>
        <ul class="list list-icons">
          <li class="list-item">
            <div class="list-icon onclinic-map-marker"></div>
            <span appTranslate="address.value"></span>
          </li>
          <li class="list-item">
            <div class="list-icon onclinic-phone"></div>
            <a href="tel:0888494116">0888494116</a>
          </li>
          <li class="list-item">
            <div class="list-icon onclinic-email-open"></div>
            <a href="mailto:plasticam@abv.bg">plasticam@abv.bg</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<footer class="footer footer-minimal context-dark bg-900">
  <div class="container">
    <!-- Copyright-->
    <p class="rights">
      <span>Created by </span><a href="https://www.linkedin.com/in/cyecize/" target="_blank">Tsvetelin Yakimov</a><span>.</span>
      <a class="ml-2 ml-md-4" [routerLink]="routes.ABOUT_US.toString()" appTranslate="about.us"></a>
      <a class="ml-2 ml-md-4" [routerLink]="routes.PRIVACY_POLICY.toString()">Privacy Policy</a>
    </p>
  </div>
</footer>
